<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MJPEG Streams</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1 style="text-align:center;">MJPEG Streams</h1>
    <button onclick="startup()">Startup Cameras</button>
    <button onclick="kill()">Kill Cameras</button>

    <div class="stream-container">
        <div class="stream">
            <label for="checkbox1">Stream 1</label>
            <input type="checkbox" id="checkbox1" onclick="toggleStream('stream1', 'http://sharis.local:8000/stream')">
            <img id="stream1" src="" alt="Stream 1" style="display:none;">
        </div>
        <div class="stream">
            <label for="checkbox2">Stream 2</label>
            <input type="checkbox" id="checkbox2" onclick="toggleStream('stream2', 'http://sharis.local:8001/stream')">
            <img id="stream2" src="" alt="Stream 2" style="display:none;">
        </div>
        <div class="stream">
            <label for="checkbox3">Stream 3</label>
            <input type="checkbox" id="checkbox3" onclick="toggleStream('stream3', 'http://sharis.local:8002/stream')">
            <img id="stream3" src="" alt="Stream 3" style="display:none;">
        </div>
        <div class="stream">
            <label for="checkbox4">Stream 4</label>
            <input type="checkbox" id="checkbox4" onclick="toggleStream('stream4', 'http://sharis.local:8003/stream')">
            <img id="stream4" src="" alt="Stream 4" style="display:none;">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>